---
- name: Configure root user
  block:
    - name: Create root .ssh directory
      ansible.builtin.file:
        path: /root/.ssh
        mode: '0700'
        owner: root
        state: directory

    - name: Update authorized_keys file
      ansible.builtin.copy:
        src: users/root/authorized_keys
        dest: /root/.ssh/authorized_keys
        mode: '0600'
        owner: root

- name: Configure heywoodlh user
  block:
    - name: Create heywoodlh
      ansible.builtin.user:
        name: heywoodlh
        shell: /bin/bash

    - name: Create /etc/sudoers.d
      ansible.builtin.file:
        path: /etc/sudoers.d/
        state: directory

    - name: Passwordless sudo for heywoodlh
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/heywoodlh
        state: present
        create: true
        regexp: "^heywoodlh"
        line: "heywoodlh ALL=(ALL) NOPASSWD: ALL"
        validate: 'visudo -cf %s'

    - name: Remove sudo configuration from archinstall script if exists
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        state: absent
        regexp: "^heywoodlh"
        line: "heywoodlh ALL=(ALL) ALL"
        validate: 'visudo -cf %s'

    - name:
      shell: >
        getent passwd heywoodlh | cut -d: -f6
      changed_when: false
      register: user_home

    - name: Create heywoodlh .ssh directory
      ansible.builtin.file:
        path: "{{ user_home.stdout }}/.ssh"
        mode: '0700'
        owner: heywoodlh
        state: directory

    - name: Grab authorized_keys file
      ansible.builtin.get_url:
        url: https://github.com/heywoodlh.keys
        dest: "{{ user_home.stdout }}/.ssh/authorized_keys"
        mode: '0600'
        owner: heywoodlh

    - name: Install flakes
      include_tasks: ./include/flake.yml
      loop:
      - tmux
      - vim
      - git

    - name: Check if tmux flake installed
      ansible.builtin.command: "ls -l {{ user_home.stdout }}/.nix-profile/bin/tmux"
      register: tmux_check
      ignore_errors: true

    - name: Launch tmux with bash
      ansible.builtin.lineinfile:
        path: "{{ user_home.stdout }}/.bashrc"
        create: true
        line: "[ -z ${TMUX} ] && { {{ user_home.stdout }}/.nix-profile/bin/tmux && exit;}"
        owner: heywoodlh
      when: tmux_check is succeeded

    - name: "Remove former ansible-switch alias from {{ user_home.stdout }}/.config/fish/config.fish"
      ansible.builtin.lineinfile:
        path: "{{ user_home.stdout }}/.config/fish/config.fish"
        owner: heywoodlh
        line: "alias ansible-switch \"nix run 'github:heywoodlh/flakes/main?dir=ansible#server'\""
        state: absent
      when: tmux_check is succeeded
      become_user: heywoodlh
      become: true

    - name: "Add ansible-switch alias from {{ user_home.stdout }}/.config/fish/custom.fish"
      ansible.builtin.lineinfile:
        path: "{{ user_home.stdout }}/.config/fish/custom.fish"
        create: true
        owner: heywoodlh
        line: "alias ansible-switch \"nix run \"github:heywoodlh/flakes/$(git ls-remote https://github.com/heywoodlh/flakes | head -1 | awk '{print $1}')?dir=ansible#server\"\""
      when: tmux_check is succeeded
      become_user: heywoodlh
      become: true
